.elementor-257
  .elementor-element.elementor-element-1627b5fe
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-257
  .elementor-element.elementor-element-1627b5fe:not(.elementor-motion-effects-element-type-background),
.elementor-257
  .elementor-element.elementor-element-1627b5fe
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #161f2a;
}
.elementor-257 .elementor-element.elementor-element-1627b5fe {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 999;
}
.elementor-257
  .elementor-element.elementor-element-1627b5fe
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257 .elementor-element.elementor-element-264c93fb {
  text-align: left;
}
.elementor-257
  .elementor-element.elementor-element-264c93fb
  .elementor-image
  img {
  width: 164px;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-menu-toggle {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  border-width: 0px;
  border-radius: 0px;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu
  .elementor-item {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--main
  .elementor-item {
  color: #00dfbe;
  padding-top: 19px;
  padding-bottom: 19px;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #009f87;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #6be6d3;
}
body:not(.rtl)
  .elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--layout-horizontal
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-right: 6px;
}
body.rtl
  .elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--layout-horizontal
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-left: 6px;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 6px;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  a,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-menu-toggle {
  color: #000000;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown {
  background-color: #f2f2f2;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-menu-toggle:hover {
  color: #00ce1b;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #ededed;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-257
  .elementor-element.elementor-element-1682427b
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-size: 15px;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  div.elementor-menu-toggle {
  color: #000000;
}
.elementor-257
  .elementor-element.elementor-element-1682427b
  div.elementor-menu-toggle:hover {
  color: #00ce1b;
}
.elementor-257 .elementor-element.elementor-element-172dcc51 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  fill: #243835;
  color: #243835;
  background-color: #00dfbe;
  border-radius: 0px 0px 0px 0px;
  padding: 7px 7px 7px 7px;
}
.button.disabled {
  opacity: 0.58; 
  cursor: not-allowed;
}
.elementor-257
  .elementor-element.elementor-element-c1b1967
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-257
  .elementor-element.elementor-element-c1b1967:not(.elementor-motion-effects-element-type-background),
.elementor-257
  .elementor-element.elementor-element-c1b1967
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #161f2a;
}
.elementor-257 .elementor-element.elementor-element-c1b1967 {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 999;
}
.elementor-257
  .elementor-element.elementor-element-c1b1967
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-menu-toggle {
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  border-width: 0px;
  border-radius: 0px;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu
  .elementor-item {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--main
  .elementor-item {
  color: #00dfbe;
  padding-top: 19px;
  padding-bottom: 19px;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #009f87;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #6be6d3;
}
body:not(.rtl)
  .elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--layout-horizontal
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-right: 6px;
}
body.rtl
  .elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--layout-horizontal
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-left: 6px;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 6px;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  a,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-menu-toggle {
  color: #000000;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown {
  background-color: #f2f2f2;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-5e76721d);
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #ededed;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: var(--e-global-color-3046181d);
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-257
  .elementor-element.elementor-element-3fd4902
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-size: 15px;
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  div.elementor-menu-toggle {
  color: var(--e-global-color-5e76721d);
}
.elementor-257
  .elementor-element.elementor-element-3fd4902
  div.elementor-menu-toggle:hover {
  color: var(--e-global-color-3046181d);
}
.elementor-257 .elementor-element.elementor-element-52975a1 {
  text-align: left;
}
.elementor-257
  .elementor-element.elementor-element-52975a1
  .elementor-image
  img {
  width: 164px;
}
.elementor-257 .elementor-element.elementor-element-2fb63ea .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  fill: #243835;
  color: #243835;
  background-color: #00dfbe;
  border-radius: 0px 0px 0px 0px;
  padding: 7px 7px 7px 7px;
}
@media (min-width: 768px) {
  .elementor-257 .elementor-element.elementor-element-7a00edb2 {
    width: 60.439%;
  }
  .elementor-257 .elementor-element.elementor-element-6cc8fcc6 {
    width: 14.539%;
  }
  .elementor-257 .elementor-element.elementor-element-79e7af6 {
    width: 60.439%;
  }
  .elementor-257 .elementor-element.elementor-element-43c1900 {
    width: 14.539%;
  }
}
@media (max-width: 1024px) {
  .elementor-257 .elementor-element.elementor-element-1627b5fe {
    padding: 20px 20px 20px 20px;
  }
  .elementor-257
    .elementor-element.elementor-element-1682427b
    .elementor-nav-menu
    .elementor-item {
    font-size: 13px;
  }
  .elementor-257
    .elementor-element.elementor-element-1682427b
    .elementor-nav-menu--main
    .elementor-item {
    padding-left: 14px;
    padding-right: 14px;
  }
  body:not(.rtl)
    .elementor-257
    .elementor-element.elementor-element-1682427b
    .elementor-nav-menu--layout-horizontal
    .elementor-nav-menu
    > li:not(:last-child) {
    margin-right: 0px;
  }
  body.rtl
    .elementor-257
    .elementor-element.elementor-element-1682427b
    .elementor-nav-menu--layout-horizontal
    .elementor-nav-menu
    > li:not(:last-child) {
    margin-left: 0px;
  }
  .elementor-257
    .elementor-element.elementor-element-1682427b
    .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
    .elementor-nav-menu
    > li:not(:last-child) {
    margin-bottom: 0px;
  }
  .elementor-257 .elementor-element.elementor-element-c1b1967 {
    padding: 20px 20px 20px 20px;
  }
  .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-nav-menu
    .elementor-item {
    font-size: 13px;
  }
  .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-nav-menu--main
    .elementor-item {
    padding-left: 14px;
    padding-right: 14px;
  }
  body:not(.rtl)
    .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-nav-menu--layout-horizontal
    .elementor-nav-menu
    > li:not(:last-child) {
    margin-right: 0px;
  }
  body.rtl
    .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-nav-menu--layout-horizontal
    .elementor-nav-menu
    > li:not(:last-child) {
    margin-left: 0px;
  }
  .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
    .elementor-nav-menu
    > li:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-257 .elementor-element.elementor-element-1627b5fe {
    padding: 20px 20px 20px 20px;
  }
  .elementor-257 .elementor-element.elementor-element-6e16a47d {
    width: 50%;
  }
  .elementor-257
    .elementor-element.elementor-element-6e16a47d
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-257 .elementor-element.elementor-element-264c93fb {
    text-align: left;
  }
  .elementor-257
    .elementor-element.elementor-element-264c93fb
    .elementor-image
    img {
    width: 150px;
  }
  .elementor-257 .elementor-element.elementor-element-7a00edb2 {
    width: 50%;
  }
  .elementor-257
    .elementor-element.elementor-element-7a00edb2
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-257
    .elementor-element.elementor-element-1682427b
    .elementor-nav-menu--dropdown
    a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .elementor-257
    .elementor-element.elementor-element-1682427b
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-257
    .elementor-element.elementor-element-1682427b
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 20px !important;
  }
  .elementor-257 .elementor-element.elementor-element-6cc8fcc6 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-c1b1967 {
    padding: 20px 20px 20px 20px;
  }
  .elementor-257 .elementor-element.elementor-element-79e7af6 {
    width: 20%;
  }
  .elementor-257
    .elementor-element.elementor-element-79e7af6
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-nav-menu--dropdown
    a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 20px !important;
  }
  .elementor-257
    .elementor-element.elementor-element-3fd4902
    .elementor-menu-toggle {
    font-size: 20px;
  }
  .elementor-257 .elementor-element.elementor-element-99c128f {
    width: 50%;
  }
  .elementor-257
    .elementor-element.elementor-element-99c128f
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-257 .elementor-element.elementor-element-52975a1 {
    text-align: center;
  }
  .elementor-257
    .elementor-element.elementor-element-52975a1
    .elementor-image
    img {
    width: 150px;
  }
  .elementor-257 .elementor-element.elementor-element-43c1900 {
    width: 30%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-257 .elementor-element.elementor-element-6e16a47d {
    width: 20%;
  }
  .elementor-257 .elementor-element.elementor-element-7a00edb2 {
    width: 60%;
  }
  .elementor-257 .elementor-element.elementor-element-6cc8fcc6 {
    width: 20%;
  }
  .elementor-257 .elementor-element.elementor-element-79e7af6 {
    width: 60%;
  }
  .elementor-257 .elementor-element.elementor-element-99c128f {
    width: 20%;
  }
  .elementor-257 .elementor-element.elementor-element-43c1900 {
    width: 20%;
  }
}
